html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background: linear-gradient(#4a4a4c, #a6a8ad);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    margin-top: 4%;
    font-family: 'Play', sans-serif;
    color: #c9c9cc;
    text-align: center;
    text-decoration: underline;
}

h2 {
    text-align: center;
    font-family: 'Play', sans-serif;
    color: #c9c9cc;
}

h3 {
    text-align: center;
    font-family: 'Play', sans-serif;
    color: #c9c9cc;
}

.p-home {
    text-align: center;
    line-height: 1.7;
    color: #c9c9cc;
}

.p-home a {
    color: #c9c9cc;
}

.p-home a:hover {
    color: #FFFFFF;
}

.main {
    padding-bottom: 125px;
}

.main li:before {
    content: "→ ";
}

.menu {
    width: 100%;
    display: inline-block;
    text-align: center;
    background-color: #2f2f30;
}

.menu ul {
    padding-left: 0px;
    display: inline-block;
}

.menu li {
    width: 165px;
    margin-right: 10px;
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
    border: solid 1px #c9c9cc;
    border-radius:12px 0 12px 0;
    box-shadow:1px 1px 3px #999;
    float: left;
    font-family: 'Play', sans-serif;
    font-size: 20px;
}

.menu li:hover {
    border: solid 1px #FFFFFF;
}

.menu a {
    color: #c9c9cc;
    text-decoration: none;
}

.menu a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

nav.menu {
    height: 4em;
    display: inline;
    position: fixed;
    top: 0;
    width: 100%;
}

nav.breadcrumb {
    float: left;
    display: block;
    margin-left: 30px;
}

.breadcrumb li {
    display: inline-block;
    color: #c9c9cc;
}

.breadcrumb a {
    color: #c9c9cc;
}

ul {
    line-height: 1.5;
    padding-left: 100px;
}

.main ul {
    margin: 0;
}

li {
    list-style-type: none;
    line-height: 1.7;
    font-family: 'Dosis', sans-serif;
    color: #c9c9cc;
}

.datetime li {
    margin-bottom: 15px;
}

.datetime li:before {
    content: none;
}

img body {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

.banner {
    background-image: url(banner.jpg);
    width: 100%;
    height: 150px;
    margin: 0;
}

.Remi {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

.europe-assur {
    display: block;
    margin: auto;
    border-radius: 8px;
}

.novalem {
    display: block;
    margin: auto;   
    border-radius: 8px;
}

.orange {
    height: 100px;
    width: 100px;
    display: block;
    margin: auto;
    border-radius: 8px;
}

.synergie {
    height: 100px;
    width: 100px;
    display: block;
    margin: auto;
    border-radius: 8px;
}

.guinot {
    height: 100px;
    display: block;
    margin: auto;
    border-radius: 8px;
}

.portfolio-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.portfolio-1, .portfolio-2 {
    width: 50%;
    height: 400px;
    text-align: center;
}

a.annuaireifa {
    width: 60%;
    height: 70%;
    background-image: url(annuaire.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 8px;
    display: inline-block;
    color: #FFF;
    padding-top: 2px;
}

a.annuaireifa:hover {
    background-image: url(git-annuaireifa.png);
    transition: all 2s;
}

a.cv {
    width: 60%;
    height: 70%;
    background-image: url(cv.png);
    background-size: 100% 100%;
    display: inline-block;
    background-repeat: no-repeat;
    border-radius: 8px;
    display: inline-block;
    color: #FFF;
    padding-top: 2px;
}

a.cv:hover {
    background-image: url(git-cv.png);
    transition: all 2s;
}

li.espagne::before {
    content: none;
}

li.espagne {
    margin-left: 25px;
    list-style-image: url(puce_espagne.png);
}

li.usa::before {
    content: none;
}

li.usa {
    margin-left: 25px;
    list-style-image: url(puce_usa.png);
}

form {
    text-align: center;
    color: #c9c9cc;
}

label {
    display: block;
    line-height: 2em;
}

#nom, #prénom, #mail, #message {
    height: 18px;
    border-radius:12px 0 12px 0;
}

input[type="submit"] {
    margin-top: 5px;
    width:70px;
    cursor:pointer;
    background: #f5f5f5;
    font-family: 'Play', sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    color:#555;
    padding:6px 0 6px 0;
    border-radius:12px 0 12px 0;
    border: none;
    box-shadow:1px 1px 3px #999;
}

input[type="submit"]:hover {
    background-color: #2f2f30;
    color: #FFFFFF;
    text-decoration: underline;
}

p.contact {
    font-size: 1.2em;
    text-align: center;
    color: #c9c9cc;
}

footer {
    height: 120px;
    width: 100%;
    background-image: url(footer.jpg);
    background-size: cover;
    left: 0;
    bottom: 0;
    position: fixed;
}

.contact-footer {
    float: right;
    color: #c9c9cc;
}

div.container {
    height: 150px;
    margin-top: 20px;
    position: absolute;
    right: 21px;
    top:11px;
}

div.LinkedIn {
    display: inline-block;
    border: solid 1px transparent;
}

div.LinkedIn:hover {
    border: solid 1px #FFFFFF;
    border-radius: 8px;
}

div.Viadeo {
    display: inline-block;
    border: solid 1px transparent;
}

div.Viadeo:hover {
    border: solid 1px #FFFFFF;
    border-radius: 8px;
}

div.RemixJobs {
    display: inline-block;
    border: solid 1px transparent;
}

div.RemixJobs:hover {
    border: solid 1px #FFFFFF;
    border-radius: 8px;
}

div.DoYouBuzz {
    width: 142px;
    border: solid 1px transparent;
}

div.DoYouBuzz:hover {
    border: solid 1px #FFFFFF;
    border-radius: 8px;
}

.LinkedIn img {
    height: 40px;
    width: 40px;
    border-radius: 8px;
}

.Viadeo img {
    height: 40px;
    width: 40px;
}

.RemixJobs img {
    height: 40px;
    border-radius: 8px;

}

.DoYouBuzz img {
    height: 40px;
}

@media (max-width: 320px) {
    nav.menu {
        height: 8.5%;
    }

    nav.breadcrumb {
        margin: 0;
        font-size: 
    }

    .breadcrumb ul {
        padding-left: 5px;
        font-size: 8px;
        /*REPRENDRE ICI
        PREVOIR @MEDIA POUR TAILLE ENTRE 320 ET 800PX*/
    }

    .menu ul {
        width: 320px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin: 5px 0 0 5px;
    }

    .menu li {
        width: 65px;
        margin: 0 10px 10px 0;
        font-size: 7px;
        line-height: 1;
        padding: 2px 0 2px 0;
    }

    .banner {
        background-image: url(banner-small.jpg);
        height: 15%;
    }

    a.annuaireifa {
        width: ;
        height: ;
    }

    a.cv {
        width: ;
        height: ;
    }